@charset "UTF-8";/*伪元素的content属性使用中文字符集可能会出现乱码情况*/
/*region 后台layui框架*/
/*region 顶部tab  title*/
.beg-layout-container .beg-layout-body .layout-nav-card cite{
    font-weight: bold;
    display: none;
}
.beg-layout-container .beg-layout-body .layout-nav-card font {
    font-weight: bold;
}
.layui-tab-title .layui-this,
.layui-tab-title .layui-this:hover {
    background-color: #f6f6f6;
}
.layui-nav-child dd.layui-this {
    background-color: #f6f6f6;
}
.layui-tab-title .layui-this:after{display: none}
.layui-tab-title{
    background-color: #393D49;
    position: fixed;
    z-index: 991;
    width: calc(100% - 320px);
    left: 220px;
    top: 0;
    right: 0;
    min-height: 60px;
    padding-left: 101px;
    border-bottom: none;
}
.layui-tab-title li {
    line-height: 60px;
    color: #ffffff;
    padding: 0 20px;
    background-color: #393D49;
}
.layui-tab-title li a {
    color: #ffffff;
}
.layui-tab-title li:nth-child(1){position: absolute;left: 0;}
.layui-tab-title li .layui-tab-close {
    display: none;
}
.layui-tab-title li:hover {
    background-color: #464B59;
}
.layui-tab-title li:hover .layui-tab-close {
    display: inline-block;
}
.layui-tab-title li.layui-this .layui-tab-close,
.layui-tab-title li .layui-tab-close,
.layui-tab-title li .layui-tab-close:hover{
    color: #ffffff;
    font-size: 13px;
    margin-left: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: 0;
    right: 0;
    line-height: 20px;
    z-index: 2;
}
.layui-tab-title li.layui-this .layui-tab-close,
.layui-tab-title li.layui-this .layui-tab-close:hover {
    color: #505050;
}
.layui-tab-bar{border-radius: 4px;font-size: 13px;width: 30px;height: 30px;line-height: 26px;top: 15px;
    right: 55px;
    position: fixed;background-color: #464B59;color: #ffffff;
    border: none;
}
.layui-tab-more .layui-tab-bar{
    line-height: 32px;
}
.layui-tab-bar i{font-size: 13px;}
.title-refresh {
    width: 30px;
    height: 30px;
    display: flex;
    background: #464B59;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 99999;
}
.title-refresh:before {
    border-style: solid;
    border-width: 9px;
    border-color: transparent transparent rgba(51,51,51,1) transparent;
    position: fixed;
    z-index: 1;
    top: 41px;
    right: 21px;
    content: '';
    display: none;
}
.title-refresh:after {
    position: fixed;
    z-index: 1;
    top: 58px;
    right: 10px;
    color: #ffffff;
    content: '刷新当前页';
    box-shadow: 0px 4px 11px rgba(0,0,0,0.27);
    border-radius: 2px;
    background: rgba(51,51,51,1);
    width: 80px;
    height: 36px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.title-refresh:hover:before {
    display: inline-block;
}
.title-refresh:hover:after {
    display: flex;
    display: -webkit-flex;
}
.title-refresh i {
    color: #fff;
}
/*endregion*/

/*region 左侧菜单样式*/
.layui-layout-admin .layui-header{border-color: #393D49}
.beg-layout-container .beg-layout-header{background-color: #393D49;
    z-index: initial;
}
.beg-layout-container .beg-layout-header .beg-layout-side-toggle:hover{background-color: #1890FF;}
.layui-layout-admin .layui-side {
    width: 220px;
}
.layui-nav-tree .layui-nav-container {
    position: relative;
    width: 220px;
}
.layui-nav-tree {
    width: 91px;
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
}
.layui-nav-tree::-webkit-scrollbar {
    width: 0;
}
.layui-nav-tree .layui-nav-item a {
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}
.layui-nav-tree .layui-nav-item a cite {
    padding: 0 6px;
    font-weight: bold;
    color: rgba(255,255,255,.7);
}
.layui-nav-tree .layui-nav-item i {
    color: rgba(255,255,255,.7);
    font-size: 13px;
}
.layui-nav-tree .layui-nav-item>a:hover {
    background-color: #464B59!important;
}
.layui-nav-tree .layui-nav-item>a:hover cite,
.layui-nav-tree .layui-nav-item>a:hover i {
    color: rgba(255,255,255,.7);
}
.layui-nav-tree .layui-nav-bar {
    display: none!important;
}

.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child-hover {
    position: fixed;
    top: 60px;
    background: #fff;
    width: 129px;
    z-index: 1;
    min-width: initial;
    left: 91px;
    height: calc(100% - 60px);
    overflow-y: auto;
    border-radius: 0;
    display: none;
    font-size: 12px;
    padding-top: 0;
}
.layui-nav-tree .layui-this-parent .layui-nav-child {
    display: inline-block;
}
.layui-nav-tree .layui-nav-child-hover {
    z-index: 2;
    display: none!important;
}
.layui-nav-tree li:hover .layui-nav-child-hover {
    display: inline-block;
}
.layui-nav-tree li:hover .layui-nav-child-hover {
    display: inline-block;
}
.layui-nav-tree .layui-nav-child .dl-title,
.layui-nav-tree .layui-nav-child-hover .dl-title {
    border-bottom: 1px solid #F6F6F6;
    height: 50px;
    padding-left: 26px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #666666;
}
.layui-nav-tree .layui-nav-child dd,
.layui-nav-tree .layui-nav-child-hover dd {
    padding: 5px 10px;
}
.layui-nav-tree .layui-nav-child a,
.layui-nav-tree .layui-nav-child-hover a {
    padding-left: 10px!important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.layui-nav-tree .layui-nav-child a:hover,
.layui-nav-tree .layui-nav-child-hover a:hover {
    background:rgba(246,246,246,1);
}
.layui-nav-tree .layui-nav-child a cite,
.layui-nav-tree .layui-nav-child-hover a cite {
    font-weight: normal;
    font-size: 12px;
    color: #666666;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a{
    background:none;
}
.layui-nav-tree .layui-nav-item.layui-this-parent>a,
.layui-nav-tree .layui-nav-item.layui-this-parent>a i ,
.layui-nav-tree .layui-nav-item.layui-this-parent>a cite {
    color: #666666!important;
}

.layui-nav-tree .layui-nav-bar{background-color:#1890FF}
.layui-this-parent>a,
.layui-nav-tree .layui-nav-item.layui-this-parent>a:hover {background-color:#fff!important;}

.layui-nav-tree .layui-nav-child .layui-this>a cite,
.layui-nav-tree .layui-nav-child-hover .layui-this>a cite {
    color: #1890FF!important;
    font-weight: bold;
}

.layui-tab-brief>.layui-tab-title .layui-this{color: #666666;}
.beg-layout-container .beg-layout-header .beg-layout-logo .logo-img{
    background: #565B69 url("../images/top/logo.png")center center no-repeat;background-size: 27px 27px;
    border-radius: 4px;
}
.layui-tab-title li.layui-this:nth-child(1) a{
    color: #1890FF;
}

.layui-nav .layui-nav-more,
.layui-nav-itemed .layui-nav-more{display: inline-block;border: none;}
/*endregion*/

/*region 右侧iframe 框架*/
.beg-layout-container .beg-layout-body{background-color: #F6F6F6;
    overflow-y: hidden;
}
.layui-body {
    left: 220px;
}
.layui-tab-content {
    padding: 0!important;
}
/*endregion*/

/* region 适配多设备 */
@media screen and (max-width: 750px) {
    .layui-layout-admin .layui-side {
        top: 60px;
    }
    .layui-nav-tree .layui-nav-child,
    .layui-nav-tree .layui-nav-child-hover {
        left: -130px;
    }
    .layui-body {
        left: 0;
        position: absolute;
    }
    .site-mobile .layui-nav-tree .layui-nav-child,
    .site-mobile .layui-nav-tree .layui-nav-child-hover {
        left: 91px;
    }
}
/*endregion*/

.admin-main{box-sizing: border-box;
    height: 100%;
    background-color: #ffffff;
}
/*endregion*/

/*region 滚动条样式*/
/*::-webkit-scrollbar {width:6px;border-radius: 3px}

::-webkit-scrollbar-button:vertical {background-color:#e2e2e2}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {background-color:#ffffff;border-radius: 3px}

::-webkit-scrollbar-thumb {border-radius:3px;background-color:#e0e0e0}

::-webkit-scrollbar-thumb:vertical:hover {background-color:#e0e0e0}

::-webkit-scrollbar-thumb:vertical:active {background-color:#e0e0e0}*/
/*endregion*/

[v-cloak] {display: none !important;}
*{
    box-sizing: border-box;
    font-family: Microsoft YaHei;
    word-break: break-all;
}
html,body{
    color: #666666;
    font-size: 12px;
    height: 100%;
}
.body-main {
    height: 100%;
}
a,button{cursor: pointer}

/*region 字体大小*/
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-32{font-size: 32px;}
.font-36{font-size: 36px;}
.font-bold{font-weight: bold}
.text-center{text-align: center}
.link-underline:hover {
    text-decoration: underline;
}
.text-right{text-align: right}
.text-left{text-align: left}
/*endregion*/

/*region 颜色*/
.color-diy{color: #1890FF}/*主色的active*/
.color-red{color: #FF0000}
.color-tip {color: #999999}/*用于弱提示性文字*/
/*endregion*/

.bg-white{background-color: #ffffff}
.bg-grey{background-color: #fafafa}

/*region 按钮*/
.btn-primary-diy {background-color: #1890FF;color: #ffffff;height: 30px;line-height: 28px;border: none;border-radius: 2px;display: inline-block;text-align: center;
    padding: 0 16px;
    align-items: center;
    justify-content: center;border: solid 1px #1890FF;background-color: #1890FF;
}
.btn-primary-diy i {
    margin-right: 3px;
}
.btn-primary-diy.active
.btn-primary-diy:active,
.btn-primary-diy:hover {
    border-color: #66b1ff;
    background-color: #66b1ff;
}

.btn-grey {
    height: 30px;
    line-height: 28px;
    border: 1px solid #E9E9E9;
    padding: 0 12px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #666666;
    display: inline-block;
    align-items: center;
    min-width: 58px;
    justify-content: center;
    border-radius: 2px;
}
.btn-grey i {
    margin-right: 3px;
}
.btn-grey.active
.btn-grey:active,
.btn-grey:hover {
    border-color: #1890FF;
    color: #1890FF;
    background-color: #ffffff;
}
/*endregion*/

.ml-10{margin-left: 10px;}  .mr-10{margin-right: 10px;}
.mb-10{margin-bottom: 10px;}  .mt-10{margin-top: 10px;}
.mb-26{margin-bottom: 26px;}
.pl-10{padding-left: 10px;}
.pl-30 {
    padding-left: 30px;
}
.pr-10{padding-right: 10px;}
.pt-10{padding-top: 10px;}
.pb-10{padding-bottom: 10px;}
.position-r{position: relative}
.display-align{display: inline-block;vertical-align: middle}
/*region 文字行数*/
.line-one{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.line-two{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: inherit;
}
/*endregion*/
.border-b1 {
    border-bottom: 1px solid #F2F2F2;
}
.border-b10 {
    border-bottom: 10px solid #f6f6f6;
}


.line-grey{width: 1px;height: 13px;display: inline-block;background-color: #e6e6e6;vertical-align: middle;margin: 0 8px}
.hidden{display: none}
.b-red{color: #ff5153;}

/*region flex布局*/
.flex-left {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.flex-right {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-between {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-row {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*endregion*/

/*region icon*/
/*region .diyicon 通用*/
[class*='diyicon-'] {
    display: inline-block;
    vertical-align: middle;
}
.diyicon-table-setting {
    background: url("../images/common/table_setting.png")center center no-repeat;
    background-size: 16px 17px;
    width: 16px;
    height: 17px;
}
/*endregion*/
.el-icon-error {
    color: #1890FF;
    font-size: 19px;
    vertical-align: middle;
}
/*endregion*/

/*region checkbox*/

/*region diy-checkbox*/
.diy-checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 14px;
}

.diy-checkbox input[type=checkbox] {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 100%;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0;
}

.diy-checkbox input[type=checkbox]:checked {
    background: url("../images/common/checkbox.png") center center no-repeat;
    background-size: 100% 100%;
    border: none;
}

.diy-checkbox font {
    vertical-align: middle;
    display: inline-block;
    color: #666666;
    font-size: 12px;
    padding-left: 2px;
}
/*endregion*/

/*region el-checkbox*/
.checkbox-group .el-checkbox {
    display: inline-block;
    margin: 8px 5px 8px 0;
}
.el-checkbox .el-checkbox__inner {
    border-radius: 100%;
    border: 1px solid #999;
}
.el-checkbox .el-checkbox__label {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 15px;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #666!important;
}
/*endregion*/

.checkbox-group {
    background-color: #FAFAFA;
    padding: 7px 0 7px 14px;
}

/*endregion*/

/*region radio*/

/*region el-radio*/
.el-radio-group .el-radio {
    margin-right: 20px;
}
.el-radio .el-radio__input {
    margin-top: 2px;
}
.el-radio .el-radio__inner {
    border-color: #999999;
}
.el-radio .el-radio__label {
    vertical-align: middle;
    font-size: 12px;
    padding-left: 5px;
}
.el-radio .el-radio__input.is-checked+.el-radio__label {
    color: #666666;
}
/*endregion*/

/*endregion*/

.layui-input, .layui-select{height: 36px!important;line-height: 36px!important;}
.layui-input, .layui-select, .layui-textarea{border-radius: 2px;border: 1px solid #e1e1e1;}

/*region select*/
select{border-radius: 2px;border: 1px solid #e1e1e1;height: 36px;display: block;width: 100%;background: url("../images/common/select_down.png")calc(100% - 10px) center /11px 6px no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;padding: 0 10px;
    color: #666666;
}
select:disabled{background:#f5f5f5 url("../images/common/select_down.png")calc(100% - 10px) center /11px 6px no-repeat;}
select option{color: #888898}
select[lay-ignore] {
    display: inline-block;
}
select.small {
    height: 30px;
}
.layui-form-select .layui-edge {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(135deg);
    width: 8px;
    height: 8px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    top: calc(50% - 3px);
}
.layui-form-selected .layui-edge {
    transform: rotate(-45deg);
    top: calc(50% + 7px);
}
.el-select {
    width: 100%;
    height: 36px;
}
.el-select .el-input__inner{
    font-size: 12px;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
}
.el-select .el-input__icon{
    line-height: 36px;
}
.el-select-dropdown {
    z-index: 999999999999!important;
}
.el-select-dropdown__item {
    font-size: 12px!important;
}
/*endregion select*/

/*region input*/
.input-min{width: 34px;padding: 0;text-align: center;display: inline-block}
input {
    color: #666666;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #B9B9B9;
}

.el-input__inner {
    border-radius: 2px;
}
/*region 输入框带单位*/
.input-div {
    width: 100%;display: inline-block;height: 36px;
    position: relative;
}
.input-div .unit {
    position: absolute;
    line-height: 34px;
    right: 5px;
    z-index: 3;
    top: 0;
    font-style: normal;
    color: #B9B9B9;
}
/*endregion*/

/*region 范围段样式*/
.input-two-period {
    display: inline-block;border-radius: 2px;border: 1px solid #e1e1e1;height: 36px;box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
    position: relative;
}
.input-two-period .input-div {
    width:calc(50% - 6px);
    float: left;
    height: 34px!important;
}
.input-two-period .input-div:last-child {
    float: right;
}
.input-two-period .input-div input[type=text],
.input-two-period .input-div input[type=number] {
    border: none;
    height: 34px!important;
}
.input-two-period:before,
.input-two-period:after {
    position: absolute;
    display: inline-block;
    content: '';
}
.input-two-period:before {
    top: 0;
    left: calc(50% - 6px);
    z-index: 2;
    height: 34px;
    width: 12px;
    background-color: #ebeff3;
}
.input-two-period:after {
    top: calc(50% - .5px);
    left: calc(50% - 4px);
    z-index: 3;
    height: 1px;
    width: 8px;
    background-color: #999999;
}
/*endregion*/
/*endregion*/

/*region 时间段样式 element-ui框架*/
.diy-time-picker {
    width: 100%!important;
}
.diy-time-picker .el-icon-time {
    display: none;
}
.diy-time-picker .el-range-separator {
    width: 12px;
    height: 34px;
    background-color: #ebeff3;
    position: relative;
}
.diy-time-picker .el-range-separator:after {
    position: absolute;
    content: '';
    top: calc(50% - .5px);
    left: calc(50% - 4px);
    z-index: 3;
    height: 1px;
    width: 8px;
    background-color: #999999;
}
.diy-time-picker .el-range-input {
    width: calc(50% + 194px);
}
.diy-time-picker .el-range__close-icon {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    color: #999999;
}
.el-range-editor--small.el-input__inner {
    height: 36px;
}
/*endregion*/

/*region 表格顶部 搜索栏*/
.search-content {
    border-bottom: 10px solid #f6f6f6;
    position: relative;
    background-color: #ffffff;
}
.search-content .search-container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 0 10px;
    min-width: 100%;
    overflow-x: auto;
}
.search-content .search-container .search-left {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.search-content .search-container .search-left button {
    margin-right: 10px;
}
.search-content .search-right {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-content li {
    margin-left: 10px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.search-content li>span {
    padding-right: 10px;
}
.search-content .l-content {
    display: inline-block;
    vertical-align: middle;
}
.search-content .search-container .el-select,
.search-content .search-container select {
    width: 150px;
}
.search-content .search-container .el-select,
.search-content .search-container select,
.search-content .search-container input[type=text],
.search-content .search-container input[type=numbel] {
    height: 30px!important;
}
.search-content .search-container .el-input__icon {
    line-height: 30px!important;
}
.search-content .search-layer {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 0;
    width: 940px;
    box-shadow:0px 10px 8px rgba(0,0,0,0.16);
    border-radius: 4px;
    border-top: 1px solid #F2F2F2;
    background-color: #ffffff;
}
.search-content .search-layer .title {
    display: -webkit-flex;
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #F2F2F2;
    font-size: 16px;
    font-weight: bold;
}
.search-content .search-layer .search-form {
    display: inline-block;
    padding: 10px 30px;
    max-height: 350px;
    overflow-y: auto;
    width: 99.99%;
    justify-content: space-between;
}
.search-content .search-layer .search-form .search-item {
    display: inline-block;
    float: left;
    width: 33.33%;
    margin-bottom: 10px;
}
.search-content .search-layer .search-form .search-item p {
    display: block;
    margin: 8px 0;
    line-height: 20px;
}
.search-content .search-layer .search-form .search-item:nth-child(3n+1) {
    padding-right: 10px;
}
.search-content .search-layer .search-form .search-item:nth-child(3n+2) {
    padding: 0 10px;
}
.search-content .search-layer .search-form .search-item:nth-child(3n) {
    padding-left: 10px;
}
.search-content .search-layer .search-layer-btn {
    padding: 20px 30px 40px 30px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-content .search-layer .el-select,
.search-content .search-layer .el-input__inner {
    height: 36px!important;
}
.search-content .search-layer .el-input__icon {
    line-height: 36px!important;
}
/*endregion*/

/*region 表格 el-table*/

/*region 解决element-ui的table表格控件表头与内容列不对齐问题*/
.el-table th.gutter{
    display: table-cell!important;
}
/*endregion*/
.el-table .danger-row {
    background: #FFF3F3;
}
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}
.table-action a {
    color: #1890FF;
    padding: 3px;
}
/*endregion*/

/*region tab-box*/
.tab-box ul {
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
}

.tab-box ul li {
    height: 36px;
    line-height: 34px;
    font-size: 12px;
    color: #333333;
    text-align: center;
    padding: 0 15px;
    float: left;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left: none;
}

.tab-box ul li:first-child {
    border-left: 1px solid #E0E0E0;
    border-radius: 4px 0 0 4px;
}

.tab-box ul li:last-child {
    border-radius: 0 4px 4px 0;
}

.tab-box ul li.active {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-left: none;
    color: #ffffff;
}
.tab-box ul li.active:first-child {
    border-left: 1px solid #1890FF;
}

/*endregion*/

/*region 图片、上传文件*/
img[src=""],img:not([src]){opacity:0;}
/*region 文件上传按钮*/
.upload-file-btn {
    position: relative;
}
.upload-file-btn input[type=file] {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}
/*endregion*/
/*endregion*/

/*region form-row 详情页基础表单提交*/
.form-row {
    display: inline-block;
    width: 100%;
}
.form-row .row-t{
    display: block;
    margin: 8px 0;
    line-height: 20px;
}
.form-row .row-t font {
    font-weight: normal;
    margin-left: 5px;
}
.form-row .row-div{
    width: 100%;
}
.form-row .row-cell:nth-child(odd) {
    padding-right: 10px;
}
.form-row .row-cell:nth-child(even) {
    padding-left: 10px;
}

.form-row .row-cell {
    display: inline-block;
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px
}
.form-row.row-three .row-cell{width: 33.33%;}
.form-row.row-three .row-cell:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 0;
}
.form-row.row-three .row-cell:nth-child(3n+2) {
    padding: 0 10px;
}
.form-row.row-three .row-cell:nth-child(3n+3) {
    padding-left: 0;
    padding-right: 0;
}
.form-row .el-input__inner {
    height: 36px;
    line-height: 36px;
}
.form-row .el-input__inner .el-input__icon {
    line-height: 36px;
}
.form-row .select-input{
    display: inline-block;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.table-row .table-cell .select-input .layui-input-inline{width: 100px;float: left}
.table-row .table-cell .select-input .layui-input-inline .layui-input{border:none;border-right: 1px solid #e1e1e1}
.table-row .table-cell .select-input .layui-input-inline .layui-input:focus{border-color: #e1e1e1!important;}
.table-row .table-cell .select-input .input-s{width: calc(100% - 100px);float: left}
.table-row .table-cell .select-input .input-s .layui-input{border: none}
.table-row .table-cell .select-input2 .layui-input-inline {
    width: calc(48% - 5px);
}
.table-row .table-cell .select-input2 .input-s{width:calc(52% - 5px);}
.table-row .table-cell input[disabled],.table-row .table-cell .layui-disabled{background-color: #f5f5f5;border-color: #e1e1e1;cursor: not-allowed}
.row-two-all .table-cell:nth-child(odd){padding-right: 15px;}
.row-two-all .table-cell:nth-child(even){padding-left: 15px;}
.layui-disabled, .layui-disabled:hover{color: #494949!important;}
.layui-textarea[disabled]{
    background-color: #f5f5f5;
    cursor: not-allowed;
}
/*endregion*/

/*region 左右文字布局*/
.basic-dl{padding: 5px 0;
    display: flex;
}
.basic-dl dt,.basic-dl dd{display: inline-block;}
.basic-dl dt{
    width: 200px;
    line-height: 20px;
}
.basic-dl.dl-dt-initial dt{
    width: initial;
}
.basic-dl.dl-dt-initial dd{
    padding-left: 20px;
}
.basic-dl dd{padding-left:30px;width:calc(100% - 210px);box-sizing:border-box;vertical-align:top;line-height: 20px;color: #908686}

.dl-div-2 .basic-dl {
    padding: 10px 0;
}
.dl-div-2 dt {
    text-align: right;line-height: 36px;width: 135px;
}
.dl-div-2 dd {
    padding-left: 15px
}
.dl-div-2 dd .dd-input{
    width: 400px!important;
}
.dl-div-2 .btn-grey {
    height: 36px;
    line-height: 34px;
}
/*endregion*/

/*region 详情页顶部title*/
.white-title {
    min-height: 50px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}
.white-title b {
    font-size: 16px;
    font-weight: bold;
}
.white-title i {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
}
.white-title .color-tip {
    margin: 0 10px;
}
/*endregion*/

/*region 自定义layer 弹框*/
/*遮盖层*/
.common-layer-body{height: 100%;overflow: auto;padding-right:15px;background-color: #FFFFff}
.common-layer-btn{position: fixed;bottom: 0;text-align: right; width: 100%;padding:20px 20px 30px 20px;box-sizing: border-box;left: 0; background-color: #fff;
    display: flex;
    justify-content: flex-end;
}

/*region layui confirm 自定义*/
.layui-layer {
    border-radius: 4px!important;
}
body .layer-confirm,body .layer-open{overflow: hidden}
body .layer-confirm{min-width: 500px;box-sizing: border-box;}
body .layer-confirm .layui-layer-title{background-color: #ffffff;border-bottom: none;font-size: 16px;color: #494949;
    padding: 0 80px 0 30px;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #F2F2F2;
}
body .layer-open .layui-layer-title{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    font-size:16px;
    font-weight: bold;
    padding:9px 30px;
    color: #666666;
    min-height: 60px;
}
body .layer-confirm .layui-layer-setwin{right: 30px;top:19px;}
body .layer-open .layui-layer-setwin{right: 30px;top:28px;}
body .layer-confirm .layui-layer-close,
body .layer-open .layui-layer-close{width: 15px;height: 15px;display: inline-block;
    background: url("../images/common/close_black.png")center center no-repeat;
    background-size: 12px 12px;
}
body .layer-confirm .layui-layer-content{
    padding: 14px 30px;min-height: 60px;
    font-size: 12px;
}
body .layer-open .layui-layer-content{overflow: hidden;}
body .layer-confirm .layui-layer-btn,
body .layer-open .layui-layer-btn{margin-top: 0rem;padding: 0 24px 40px 30px;
    display: flex;
    justify-content: flex-end;
}
body .layer-confirm .layui-layer-btn a,
body .layer-open .layui-layer-btn a,
.common-layer-btn a{border: 0px;min-width: 63px;height: 30px;text-align: center;border-radius: 2px;box-sizing: border-box;display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 12px;
}
body .layer-confirm .layui-layer-btn .layui-layer-btn0,
body .layer-open .layui-layer-btn .layui-layer-btn0,
.common-layer-btn a.btn-primary-diy{background-color: #1890FF;color: #ffffff;}
body .layer-confirm .layui-layer-btn .layui-layer-btn1,
body .layer-open .layui-layer-btn .layui-layer-btn1,
.common-layer-btn a.btn-grey{background: #fff;
    border: 1px solid #E9E9E9;
}

.layer-confirm{padding: 40px 30px;}
.layer-confirm h3 span{float: right}
.layer-confirm h3 i{font-size: 18px;color: #494949;}
/*endregion*/

/*region 删除弹框*/
.layer-confirm-del .layui-layer-title {
    border-bottom: none!important;
    padding-top: 30px!important;
}
.layer-confirm-del .layui-layer-content {
    min-height: initial!important;
}
/*endregion*/
.img-preview{padding: 20px;text-align: center;}
.layer-hidden{z-index: -1!important;opacity: 0;}
.layui-layer-msg {
    width: initial!important;
}
[class^='layer-msg-']{color: #ffffff;border-radius: 2px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-width: 116px;}
.layer-msg-success{background-color: #000000;}
.layer-msg-fail{background-color: #FF533D;}

[class^='layer-msg-'] i{margin-right: 6px;}
[class^='layer-msg-'] i.myicon-success-white {
    background: url('../images/common/success_white.png')center center /14px 14px no-repeat;
    width: 14px;
    height: 14px;
}
[class^='layer-msg-'] i.myicon-fail-white {
    background: url('../images/common/close_white.png')center center /14px 14px no-repeat;
    width: 14px;
    height: 14px;
}
[class^='layer-msg-']>div {
    font-size: 12px;
    width: calc(100% - 14px);
    text-align: left;
}
/*endregion*/

/*region 浏览器不支持顶部文字提示*/
.explorer-ie-tip {
    display: inline-block;
    width: 640px;
    height: 36px;
    line-height: 35px;
    box-shadow:0px 4px 11px rgba(0,0,0,0.27);
    border-radius: 2px;
    position: fixed;
    z-index: 100;
    top: 40px;
    left: calc(50% - 320px);
    text-align: center;
}
.explorer-ie-tip i.myicon-fail-white {
    background: #fff url('/Data/admin/images/common/close_black.png')center center /8px 8px no-repeat;
    border-radius: 100%;
}
/*endregion*/
