<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"><head> 
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
<title>{$Think.config.WEB_NAME} - 系统发生错误</title> 
<style type="text/css"> 
*{ padding: 0; margin: 0; } 
html{ overflow-y: scroll;background: #f5f5f5 } 
body{ background: #fff; font-family: '微软雅黑'; color: #333; font-size: 16px; } 
img{ border: 0; } 
.system-message-wrap{ width: 1060px;margin:150px auto;} 
.system-message{ padding:50px 100px; width: 860px; 
float: left; 
background: #fff; 
box-shadow: 0 0 5px #e6e6e6;} 
.system-message h1{ font-size: 20px; font-weight: normal; line-height: 40px; margin-bottom: 12px;color: #09aa83;float: left; } 
.system-message .success,.system-message .error{ line-height: 1.8em; font-size: 36px ;color: #09aa83} 
.system-message .detail{ font-size: 16px;line-height: 20px; margin-top: 12px; display:none} 
.system-message .link{ font-size: 16px;line-height: 20px; margin-top: 12px; } 
.system-message .link a{ color: #222;text-decoration: none;} 
.error{ float: left;width: 100%; } 
.face{ font-size: 200px; font-weight: normal; line-height: 220px; margin-bottom: 12px;float: left;width: 100%; } 
.error .content{ padding-top: 10px} 
.error .info{ margin-bottom: 12px; } 
.error .info .title{ margin-bottom: 3px; } 
.error .info .title h3{ color: #000; font-weight: 700; font-size: 16px;width: 100%;float: left;line-height: 30px;margin-top: 20px; } 
.error .content .jump{ line-height: 24px;float: left;width: 100%;font-size: 15px; } 
.error .info .text{ line-height: 24px;float: left;width: 100%; } 
.error .info .text p{ line-height: 24px;float: left;width: 100%;font-size: 15px; } 
.copyright{ padding: 12px 48px; color: #999; } 
.copyright a{ color: #000; text-decoration: none; } 
</style> 

</head> 
<body> 
<div class="system-message-wrap"> 
<div class="system-message"> 

<div class="error"> 
<p class="face">404</p> 
<h1>无法加载模块:Public</h1> 
<div class="content"> 
<p class="jump"> 
页面自动 
<a id="href" href="/">跳转</a>到{$Think.config.WEB_NAME}首页。<b id="wait" style="display:none;"></b> 
</p> 
 
<div class="info"> 
<div class="title"> 
<h3>错误位置</h3> 
</div> 
<div class="text"> 
<p>FILE: D:\web\znl\web\ThinkPHP\Common\functions.php 　LINE: 112</p> 
</div> 
</div> 
 



 
</div> 
</div> 
</div> 
</div> 
<script type="text/javascript"> 
(function(){ 
var wait = document.getElementById('wait'),href = document.getElementById('href').href; 
var interval = setInterval(function(){ 
var time = --wait.innerHTML; 
if(time <= 0) { 
location.href = href; 
clearInterval(interval); 
}; 
}, 1000); 
})(); 
</script> 
</body> 
</html>