.indexFocusWrap{width: 100%;float: left;margin-top:80px;}
.indexFocus{width: 1200px;margin: 10px auto 0px;}
.tags{float: right;width: 310px;background: #fff url(../Images/kp.png) no-repeat left 20px;height: 260px;overflow: hidden;padding: 20px 10px 20px 20px;}
.tags h2{float:left;font-size: 16px;line-height: 22px;color: #333;font-weight: normal;width: 100%;}
.tags .taglist{float:left;color: #333;margin: 0px 0 0 0;}
.tags .taglist a{display: inline-block;text-align: center;height: 26px;line-height: 26px;margin: 9px 8px 0 0px;color: #fff;float: left;padding: 0 10px;background: #f90;border-radius: 5px;overflow: hidden;}
.tags .taglist a:hover{background:#fa0;color: #fff;}
#focus {width:850px; height:300px; overflow:hidden; position:relative;float: left;}
#focus ul {height:850px; position:absolute;}
#focus ul li {float:left; width:850px; height:300px; overflow:hidden; position:relative;background: #fff}
#focus ul li .textinfo{float:left; width:370px; height:200px;margin:20px 0 20px 20px;position: absolute;right: 30px;}
#focus ul li .textinfo h2{float:left;line-height: 30px;font-size: 18px;line-height: 30px;color: #09aa83;font-weight: normal;margin: 0px 0 10px;}
#focus ul li .textinfo .desc{float:left;width: 100%;font-size: 13px;color: #666;line-height: 16px;margin: 10px 0;}
#focus ul li .textinfo .desc span{float:left;margin-right: 10px;}
#focus ul li .textinfo .desc em{float:left;margin-right: 5px;color: #aaa;}
#focus ul li .textinfo p{float:left;width: 100%;font-size: 13px;color: #333;line-height: 20px;}
#focus ul li .textinfo .a{float:left;font-size: 13px;color: #000;line-height: 30px;height: 30px;color: #555;margin-top: 12px;}
#focus ul li .imgg{float:left; width:59px; height:23px;position: absolute;z-index: 2;background: url(../Images/neww.png) no-repeat;margin-top: 20px;margin-left: 20px;}
#focus ul li .video{background-position: 0 0px;}
#focus ul li .sentence{background-position: 0 -23;}
#focus ul li .article{background-position: 0 -46px;}
#focus ul li .story{background-position: 0 -69px;}
#focus ul li .movie{background-position: 0 -92px;}
#focus ul li .img{float:left; width:390px; height:260px;position: absolute;z-index: 1;margin: 20px;}
#focus ul li .img img{float:left; width:390px; height:260px;}
#focus .btnnBg {position:absolute; width:246px; height:20px; left:0; bottom:0;z-index: 999}
#focus .btnn {position:absolute; width:324px; height:25px; padding:10px 90px 0 0; bottom: 0; text-align:right;right: 0;}
#focus .btnn span {display:inline-block; _display:inline; _zoom:1; width:50px; height:6px; _font-size:0; margin-left:1px; cursor:pointer; background:#09aa83;}
#focus .btnn span.on {background:url(../Images/bottomnavon.png) no-repeat;}
#focus .preNext {width:45px; height:100px; position:absolute; top:70px; cursor:pointer;background:url(../Images/spr itee.png) no-repeat 0 0;z-index: 699}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;}

/*---------- 首页文字内容 ---------*/
.indexMainWrap{float: left;width: 100%;margin-top:10px;}
.indexMain{width: 1200px;margin: 0 auto;}

.indexMainBar{width: 1160px;float: left;background: #fff;padding:10px 20px 30px;}
.indexMainBar .title{width: 1160px;float: left;height: 40px;border-bottom: 2px solid #ddd;}
.indexMainBar .title b{float: left;height: 40px;border-bottom: 2px solid #09aa83;line-height: 38px;font-size: 18px;font-weight: normal;color: #09aa83;}
.indexMainBar .title b a{color: #09aa83;}

.videolist{float: left;font-size: 13px;color: #555;margin-top:20px;border-top: 0px dotted #ccc;border-left: 0px dotted #ccc;}
.videolist li {
    width: 240px;
    height: 160px;
    float: left;
    background: #f1f1f1;
    margin: 0 20px 20px 0;
    position: relative;
}
.videolist li .t{float: left;width: 170px;height: 115px;position: absolute;z-index: 3;padding: 25px 20px 0;	text-align: center;text-indent: -9999px;background: url(../Images/play.png) no-repeat center;opacity: 0.7;}
.videolist li .back{float: left;width: 210px;height: 140px;position: absolute;z-index: 2;display: block;background:rgba(0,0,0,0.2);}
..videolist li .img {
    width: 240px;
    height: 160px;
    float: left;
    position: absolute;
    z-index: 6;
}
.videolist li .img img {
    width: 240px;
    height: 160px;
    float: left;
}
.videolist li:hover .back{background:rgba(0,0,0,0.7);}
.videolist li:hover .t{opacity: 1;}

/* 多模块统计 */
.moreM{width:595px;height: 344px;background: #ddd;overflow: hidden; position: relative;}
.moreMM{width: 290px;height: 344px;overflow: hidden;position:absolute; }
.moreMM-R{width: 290px;height: 344px;overflow: hidden;position:absolute; }
.moreMM:hover .back{display: block;}
.moreMM .back{width: 100%;height:100%;background: url(../Images/black5.png);position:absolute;z-index: 1;display: none;}
.moreMM .content{width: 190px;padding:30px 50px;height:284px;position:absolute;z-index:2;color: #fff;text-align: center;}
.moreMM .content h3{width: 100%;float: left;line-height: 60px;font-size: 60px;font-weight: normal;margin-top: 14px;}
.moreMM .content h4{width: 100%;float: left;line-height:50px;font-size: 22px;}
.moreMM .content h4 a{color: #fff;}
.moreMM .content p{width: 100%;float: left;line-height: 22px;font-size: 13px;border-top: 1px solid #ddd;padding-top: 14px;margin-top: 12px;}
.moreMM .content .list{width: 164px;float: left;line-height: 22px;font-size: 13px;border: 3px solid #fff;padding: 10px;background: url(../Images/b5.png);margin-top: 20px;}
.moreMM .content .list a{width:100%;float: left;line-height: 22px;font-size: 13px;color: #fff;}

.moreMS{width: 305px;height: 344px;overflow: hidden;font-size: 12px;}
.moreMS .moreMST{width: 305px;height: 144px;overflow: hidden;background: #7ddc8b;}
.moreMS .moreMST-R{width: 305px;height: 144px;overflow: hidden;background: #feb16d;}
.moreMS .moreMST:hover{background: #3e6e45}
.moreMS .moreMST-R:hover{background: #7f5836}
.moreMS .moreMST p{width: 240px;float: left;line-height: 20px;color: #fff;margin: 20px 0  10px 20px;padding:0 0 10px 0;border-bottom: 1px dotted #fff;}
.moreMS .moreMST a{float: left;line-height: 22px;color: #fff;margin: 0 0 0 20px;}

.moreMS .moreMSBL{width: 165px;height: 200px;overflow: hidden;background: #53c58e}
.moreMS .moreMSBL-R{width: 165px;height: 200px;overflow: hidden;background: #e9a543}
.moreMS .moreMSBL:hover{background: #296247}
.moreMS .moreMSBL-R:hover{background: #745221}
.moreMS .moreMSBL p{width: 100px;float: left;line-height: 20px;color: #fff;margin: 20px 0  10px 20px;padding:0 0 10px 0;border-bottom: 1px dotted #fff;}
.moreMS .moreMSBL a{float: left;line-height: 22px;color: #fff;margin: 0 0 0 20px;}
.moreMS .moreMSBR{width: 140px;height: 200px;overflow: hidden;background: #46d1c6}
.moreMS .moreMSBR-R{width: 140px;height: 200px;overflow: hidden;background: #f1c83c}
.moreMS .moreMSBR:hover{background: #236863}
.moreMS .moreMSBR-R:hover{background: #78641e}
.moreMS .moreMSBR p{width: 100px;float: left;line-height: 20px;color: #fff;margin: 20px 0  10px 20px;padding:0 0 10px 0;border-bottom: 1px dotted #fff;}
.moreMS .moreMSBR a{float: left;line-height: 22px;color: #fff;margin: 0 0 0 20px;}

.moreL{width: 1px;height: 344px;border-left: 1px solid #ddd;float: left;margin-left: 30px;}
.Music{float: left;width: 1200px;height:380px;overflow: hidden;}
.MusicL{float: left;width: 143px;height: 340px;background: #09aa83;padding: 20px;text-align: center;}
.MusicL .img{float: left;width: 110px;height: 110px;margin: 30px 0 0 16px;border-radius: 65px;}
.MusicL .img img{float: left;width: 110px;height: 110px;border-radius: 65px;}
.MusicL .h3{float: left;width: 100%;line-height: 30px;font-size: 34px;color: #fff;padding-top: 45px;}
.MusicL p{float: left;width: 100%;line-height: 22px;font-size: 13px;color: #fff;border-top: 1px solid #fff;padding-top: 15px;margin-top: 15px;}
.MusicL p a{float: left;width: 100%;line-height: 22px;font-size: 13px;color: #fff;}

.MusicM{float: left;width:637px;height: 380px; background: #fff }
.MusicM p{float: left;width:507px;font-size: 17px;color: #666;line-height: 28px;margin: 55px 0 0 45px;}
.MusicM .embed{float: left;width:450px;font-size: 13px;color: #666;line-height: 22px;margin: 10px 0 0 45px;padding-top: 10px;}
.MusicM .info{float: left;width:507px;font-size: 13px;color: #666;line-height: 22px;margin: 5px 0 0 45px;padding-top: 10px;}
.MusicM ul{float: left;width:547px;font-size: 13px;color: #666;line-height: 22px;margin: 30px 0 0 45px;padding-top: 10px;border-top: 1px dotted #ccc;}
.MusicM ul li{float: left;width:270px;color: #444;line-height: 36px;border-bottom: 1px dotted #ddd;margin: 0 0px 0 0;}
.MusicM ul li i{float: left;color: #aaa;line-height: 36px;}
.MusicM ul li a{float: left;color: #444;line-height: 36px;padding: 0 0 0 6px;max-width: 200px;height: 36px;overflow: hidden;}
.MusicM ul li span{float: left;color: #aaa;line-height: 36px;padding: 0 0 0 6px;}

.MusicR{float: left;width:140px;padding: 20px;height: 340px;background: #fff;text-align: center;border-left: 10px solid #eee;}
.MusicR .img{float: left;width: 110px;height: 110px;margin: 30px 0 0 16px;border-radius: 65px;}
.MusicR .img img{float: left;width: 110px;height: 110px;border-radius: 65px;}
.MusicR .h3{float: left;width: 100%;line-height: 30px;font-size: 24px;color: #333;padding-top: 45px;}
.MusicR p{float: left;width: 100%;line-height: 22px;font-size: 13px;color: #333;border-top: 1px solid #ccc;padding-top: 15px;margin-top: 15px;}
.MusicR p a{float: left;width: 100%;line-height: 22px;font-size: 13px;color: #333;}


/* tag */
.tagM{width:595px;height: 120px;overflow: hidden; position: relative;background: #fff;}
.tagML{width:183px;height: 120px;overflow: hidden;background:#09aa83;line-height: 120px;font-size: 16px;color: #fff;float: left;text-align:center;}
.tagML:hover{background:#099a83;color: #fff;}
.tagML-R{background:#f90;color: #fff}
.tagML-R:hover{background:#f80;color: #fff}
.tagMR{width:370px;height: 90px;overflow: hidden;float: left;margin-top: 8px;margin-left: 10px;}
.tagMR a{display: inline-block;text-align: center;height: 28px;line-height: 28px;border: #d8d8d8 1px solid;margin: 15px 0 0 10px;float: left;padding: 0 17px;overflow: hidden;}
.tagLine{width: 1px;height: 70px;border-left: 1px solid #ddd;float: left;margin-left: 30px;}

.ABOX{width:555px;overflow: hidden; position: relative;background: #fff;padding: 10px 20px;}
.ABOX .ABOXT{width: 100%;float: left;height: 40px;border-bottom: 2px solid #ddd;}
.ABOX .ABOXT b{float: left;height: 40px;border-bottom: 2px solid #09aa83;line-height: 38px;font-size: 18px;font-weight: normal;color: #09aa83;}
.ABOX .ABOXT b a{color: #09aa83;}
.ABOX .ABOXC{width: 555px;float: left;}
.ABOX .ABOXC .topA{float: left;font-size: 13px;color: #555;width: 570px;}
.ABOX .ABOXC .topA li{float: left;width: 171px;height: 114px;position: relative;margin: 15px  15px 10px 0;overflow: hidden;}
.ABOX .ABOXC .topA li .t{float: left;width: 171px;height: 114px;position: absolute;z-index: 3;	text-align: center;text-indent: -9999px;background: url(../Images/play.png) no-repeat center;opacity: 0.7;}
.ABOX .ABOXC .topA li .back{float: left;width: 171px;height: 114px;position: absolute;z-index: 2;display: block;background:rgba(0,0,0,0.2);}
.ABOX .ABOXC .topA li .img{float: left;width: 171px;height: 114px;position: absolute;z-index: 1}
.ABOX .ABOXC .topA li .img img{float: left;width: 171px;height: 114px;}
.ABOX .ABOXC .topA li:hover .back{background:rgba(0,0,0,0.7);}
.ABOX .ABOXC .topA li:hover .t{opacity: 1;}
.ABOX .ABOXC .ul{width: 555px;margin-bottom: 15px;}
.ABOX .ABOXC .ul li{width: 100%;float: left;line-height:46px;border-bottom: 1px dotted #ccc; }
.ABOX .ABOXC .ul li i{width: 24px;float: left;height: 24px;background:#09aa83;border-radius: 20px;color: #fff;line-height: 24px;text-align: center;font-size: 14px;margin: 12px 0 0 0px;font-style: normal;}
.ABOX .ABOXC .ul li a{float: left;font-size: 15px;text-indent: 12px;}
.ABOX .ABOXC .ul li em{float: left;width: 14px;height: 14px;color: #ddd;margin: 16px 3px 0 10px;}
.ABOX .ABOXC .ul li b{float: left;width: 14px;height: 14px;margin: 16px 3px 0 10px;color: #ddd;}
.ABOX .ABOXC .ul li span{float: left;text-indent: 0;color: #ccc;}

.ABOXLine{width: 1px;height: 385px;border-left: 1px solid #ddd;float: left;margin-left: 30px;}


.indexnews{width: 1280px;float: left;}
.indexnews li{float: left;width: 245px;margin: 20px 23px 0 0;font-size: 13px;line-height: 20px;color: #777;padding-right: 23px;}
.indexnews li .t{float: left;width: 100%;line-height: 14px;color: #333;font-size: 14px;height: 14px;overflow: hidden;font-family: microsoft yahei;margin-bottom: 6px;}
.indexnews li p{float: left;width: 100%;line-height: 22px;color: #999;font-size: 13px;margin-top: 2px;margin: 6px 0;}
.indexnews li .more{float: left;line-height:13px;font-size: 13px;color: #999;height: 13px;margin-top: 10px;}


/* 所有统计 */
.count{width:100%;height: 400px;overflow: hidden; position: relative;}
.count .left{width: 290px;height: 400px;overflow: hidden;position:absolute; }
.count .left:hover .back{display: block;}
.count .left .back{width: 100%;height:100%;background: url(../Images/black5.png);position:absolute;z-index: 1;display: none;}
.count .left .content{width: 190px;padding:30px 50px;height:340px;position:absolute;z-index:2;color: #fff;text-align: center;}
.count .left .content h3{width: 100%;float: left;line-height: 60px;font-size: 60px;font-weight: normal;margin-top: 64px;}
.count .left .content h4{width: 100%;float: left;line-height:50px;font-size: 22px;}
.count .left .content h4 a{color: #fff;}
.count .left .content p{width: 100%;float: left;line-height: 22px;font-size: 13px;border-top: 1px solid #ddd;padding-top: 14px;margin-top: 12px;}
.count .left .content .list{width: 164px;float: left;line-height: 22px;font-size: 13px;border: 3px solid #fff;padding: 10px;background: url(../Images/b5.png);margin-top: 20px;}
.count .left .content .list a{width:100%;float: left;line-height: 22px;font-size: 13px;color: #fff;}
.count .right{width:910px;height: 400px;overflow: hidden;background:#fff;position:absolute;right:0; }
.count .right .ad{width:300px;overflow: hidden;float: right;margin: 30px 30px 0 0; }
.count .right .toplist{width:835px;overflow: hidden;float: left;margin: 30px 0 0 40px; }

.tmenu{width:100%;height:40px;float: left;font-size: 14px;line-height: 40px;border-bottom: 2px solid #ddd;} 
.tmenu li{height: 40px;float:left;display:block;cursor:pointer;color:#555;font-weight: bold;font-size: 16px;margin: 0 30px 0 0;}
.tmenu li a{color:#555;}
.tmenu li.hover{color:#f90;border-bottom: 2px solid #f90;}
.tmenu li.hover a{color:#f90;}
.tbox{width:100%;float:left;}
.tbox ul{width: 835px;margin: 10px 0 00;float: left;}
.tbox ul li{width: 100%;float: left;line-height:46px;border-bottom: 1px dotted #ddd; }
.tbox ul li i{width: 24px;float: left;height: 24px;background:#f90;border-radius: 20px;color: #fff;line-height: 24px;text-align: center;font-size: 14px;margin: 10px 0 0 4px;font-style: normal;}
.tbox ul li a{float: left;font-size: 15px;text-indent: 12px;}
.tbox ul li em{float: left;width: 14px;height: 14px;margin: 16px 3px 0 10px;opacity: 0.4;color: #aaa;}
.tbox ul li b{float: left;width: 14px;height: 14px;margin: 16px 3px 0 40px;opacity: 0.4;color: #aaa;}
.tbox ul li span{float: left;text-indent: 0;color: #ccc;}



.picList{float: left;width: 1300px;margin: 5px 0 0px;}
.picList:hover .black {display: block;} 
.picList li{ width:216px;background: #eee;height:144px;  position: relative;float: left;margin: 12px 12px 0 0;} 
.picList li:hover .title{display: block;} 
.picList li:hover .black{display: none;} 
.picList .black{ background: url(../Images/black5.png);width: 216px;height: 144px;z-index: 2;display: none; position: absolute;top: 0;left: 0;} 
.picList .pic{ text-align:center; line-height:0px;  position: absolute;z-index: 1;margin: 0px;background: #eee;width:216px;} 
.picList .pic img{ height:144px; } 
.picList .pic a:hover img{ border-color:#f00;  } 
.picList .title{ line-height:30px;width: 205px;padding:0 10px;border:none; z-index:3;height: 30px;position: absolute;background: url(../Images/black8.png); color: #fff; overflow: hidden;bottom:0px;display: none;font-size: 12px;} 
.picList .title a{  color: #fff; } 
