<!--批量导入/第一步: 选择文件-->
<style>
  .import-step1 {
    padding-top: 30px;
  }
  .import-tip {
    padding: 20px 0;
    line-height: 40px;
  }
</style>
<!-- template -->
<script type="x-template" id="import_step1_component">
  <!--region 模版-->
  <div class="import-step1">
    <div>
      <div class="upload-file-btn display-align">
        <button class="btn-primary-diy"><i class=""></i>请选择xlsx格式的文件</button>
        <input type="file" name="upload_file" id="upload_file" @change="uploadFile">
      </div>
      <span class="ml-10 color-diy" v-if="info.file_name !== ''">上传成功</span>
    </div>
    <div class="import-tip">
      <div>导入指引：</div>
      <div>
        <span>1、点击</span>
        <a class="btn-primary-diy display-align ml-10 mr-10" target="_blank" download="模板.xls"
           :href="downloadXLS"
        >下载</a>
        <span>固定模板制作您的{{ getImportName }}表格</span>
      </div>
      <div>2、点击“请选择xlsx格式的文件”--->点击“打开”--->确定--->成功！</div>
    </div>
  </div>
  <!--endregion-->
</script>

<!-- JS -->
<script>
  COMPONENT.IMPORT_STEP1_COMPONENT = {
    template: '#import_step1_component',
    props: {
      info: Object,
      importType: {
        type: String,
        default: 'project'
      },//批量导入类型。project-项目，bill-账单
    },
    computed: {
      getImportName: function () {
        var importName = '项目'
        if (this.importType === 'bill') {
          importName = '账单'
        }
        return importName
      },
      downloadXLS: function () {
        var url = 'http://dl.wlsd.com.cn/apps/project_example.xls'
        if (this.importType === 'bill') {
          url = 'http://dl.wlsd.com.cn/apps/bill_example.xls'
        }
        return url
      }
    },
    mounted: function () {
    },
    data: function () {
      return {}
    },
    methods: {
      uploadFile: function (event) {
        var file = $("#upload_file")[0].files[0];
        this.info.file_name = file.name
      }
    },
    directives: {}
  }
</script>
