<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{:get_cfg_value('CFG_WEBTITLE')}</title>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="baidu-site-verification" content="unXl91MyB6"/>
  <!--<link rel="stylesheet" type="text/css" href="__DATA__/static/bootstrap/3.3.5/css/bootstrap.min.css?v={$V}" media="screen">
  <link rel='stylesheet' type="text/css" href="__PUBLIC__/css/main.css?v={$V}" />-->
  <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css?v={$V}"/>
  <link rel="stylesheet" href="__ADMIN__/icon/diy-icon/style.css?v={$V}">
  <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css?v={$V}" media="all"/>
  <link rel="stylesheet" href="__DATA__/static/jq_plugins/jq-ui/jquery-ui.min.css?v={$V}" media="all"/>
  <link rel="stylesheet" href="__ADMIN__/css/main.css?v={$V}" media="all"/>
  <link rel="stylesheet" href="__ADMIN__/css/admin.css?v={$V}" media="all"/>
  <php>
    $skin = get_cfg_value('CFG_MANAGE_THEMESTYLE');
    $skin = empty($skin) ? 'skin_1' : $skin;
  </php>
  <link rel="stylesheet" href="__ADMIN__/skin/{$skin}/css/style.css?v={$V}"
        media="all"/>
  <!-- 头部css文件|自定义  -->
  <block name="header_css"></block>

  <script type="text/javascript" src="__DATA__/static/js/jquery-1.11.3.min.js?v={$V}"></script>
  <!--<script type="text/javascript" src="__DATA__/static/bootstrap/3.3.5/js/bootstrap.min.js?v={$V}"></script>-->

  <!--[if lt IE 9]>
  <script src="__DATA__/static/js/html5shiv.min.js?v={$V}"></script>
  <script src="__DATA__/static/js/respond.min.js?v={$V}"></script>
  <![endif]-->
  <script type="text/javascript" src="__DATA__/static/jq_plugins/laydate/laydate.js?v={$V}"></script>
  <script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js?v={$V}"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js?v={$V}"></script>
  <script type="text/javascript" src="__DATA__/static/jq_plugins/layer/layer.js?v={$V}"></script>
  <script type="text/javascript" src="__VUE__"></script>
  <script type="text/javascript" src="__DATA__/static/jq_plugins/jq-ui/jquery-ui.min.js?v={$V}"></script>
  <script language="JavaScript">
    <!--
    var URL = '__URL__';
    var APP = '__APP__';
    var SELF = '__SELF__';
    var PUBLIC = '__PUBLIC__';
    var data_path = "__DATA__";
    var tpl_public = "__PUBLIC__";
    var REQ = '{$reqJson}';
    var NOW_STR = "{$NOW_STR}";
    REQ = JSON.parse(REQ);
    //-->
    /*
define('CODE_SUCCESS', 200); // 请求成功
define('CODE_LOGIN_SUCCESS', 201); // 登录成功后跳转
define('CODE_REDIRECT', 301); // 请求后直接重定向
define('CODE_ERROR', 406); // 请求失败
define('CODE_LOGOUT', 401); // 登录过期 提示过期后会重定向
define('CODE_NOT_FOUND', 404); // 不存在
     */
    var ThinkPHP = window.Think = {
      "ROOT": "__ROOT__",
      "APP": "__APP__",
      "PUBLIC": "__PUBLIC__",
      "DEEP": "{:C('URL_PATHINFO_DEPR')}",
      "MODEL": ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
      "VAR": ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
      CODE_SUCCESS: +'{$Think.CODE_SUCCESS}',
      CODE_REDIRECT: +'{$Think.CODE_REDIRECT}',
      CODE_ERROR: +'{$Think.CODE_ERROR}',
      CODE_LOGOUT: +'{$Think.CODE_LOGOUT}',
      CODE_NOT_FOUND: +'{$Think.CODE_NOT_FOUND}',
      CODE_LOGIN_SUCCESS: +'{$Think.CODE_LOGIN_SUCCESS}',
      ZU_JIN: +'{$Think.ZU_JIN}',
      YA_JIN: +'{$Think.YA_JIN}',
      FEE_INCOME: +'{$Think.FEE_INCOME}',
      FEE_COST: +'{$Think.FEE_COST}',
      PROPERTY_FEE: +'{$Think.PROPERTY_FEE}',
    }
    // VUE组件存储对象
    var COMPONENT = {}
    // 园区配置
    var GARDEN_CONFIG = {
      service_ctrl: "{:C('GARDEN_CONFIG.service_ctrl')}",
      maintain_ctrl: "{:C('GARDEN_CONFIG.maintain_ctrl')}",
      service_name: "{:C('GARDEN_CONFIG.service_name')}",
      maintain_name: "{:C('GARDEN_CONFIG.maintain_name')}",
      time_ctrl_1: "{:C('GARDEN_CONFIG.time_ctrl_1')}",
      time_ctrl_2: "{:C('GARDEN_CONFIG.time_ctrl_2')}",
      time_ctrl_3: "{:C('GARDEN_CONFIG.time_ctrl_3')}",
      time_name_1: "{:C('GARDEN_CONFIG.time_name_1')}",
      time_name_2: "{:C('GARDEN_CONFIG.time_name_2')}",
      time_name_3: "{:C('GARDEN_CONFIG.time_name_3')}",
    }
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/common.js?v={$V}"></script>
  <script type="text/javascript" src="__DATA__/static/js/public.js?v={$V}"></script>
  <script type="text/javascript" src="__ROOT__/Public/static/think.js?v={$V}"></script>
  <script src="__MOMENT__"></script>
  <script src="__APP_UTIL__"></script>
  <!-- 头部js文件|自定义 -->
  <block name="header_js"></block>
</head>
<body>
<include file="Public/components/upload_file"/><!--上传文件组件-->
<include file="Public/components/base_input"/><!--基础输入框组件-->
<include file="Public/components/date_picker"/><!--日期选择器组件-->

<div class="body-main" style="height: 100%">
  <div class="layui-form" style="height: 100%;">
    <block name="content"></block>
    <script>
      layui.config({
        version: '{$V}',
      }).use(['form', 'upload', 'layer', 'element'], function () {
        var form = layui.form()
          , jq = layui.jquery
          , element = layui.element();
      });//全局样式
    </script>
  </div>
  <!--<div class="foot">点点全球租房_logov4.11 © 2014-2017     客服:400-670-2515 | 400-816-1525</div>-->
</div>
<!--公用弹框-->
<div id="layerModel" onclick="publicObj.slideRight('hide');"></div>

<!--region 底部JS-->
<block name="footer_js"></block>
<!--endregion-->

</body>
</html>
<block name="out_foot">
</block>
