<!DOCTYPE html>
<html style="height: 100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{:get_cfg_value('CFG_WEBTITLE')}</title>
  <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css?v={$V}">
  <link rel="stylesheet" href="__ADMIN__/icon/diy-icon/style.css?v={$V}">
  <link rel="stylesheet" href="__ADMIN__/css/admin.css?v={$V}">
  <php>
    $skin = get_cfg_value('CFG_MANAGE_THEMESTYLE');
    $skin = empty($skin) ? 'skin_1' : $skin;
  </php>
  <link rel="stylesheet" href="__ADMIN__/skin/{$skin}/css/style.css?v={$V}"/>
  <script src="__ADMIN__/js/jquery-1.9.1.min.js?v={$V}" type="text/javascript"></script>
  <script src="__ADMIN__/plugins/layui/layui.js?v={$V}" type="text/javascript"></script>
  <script type="text/javascript" src="__VUE__"></script>
  <script type="text/javascript" src="__DATA__/static/js/public.js?v={$V}"></script>

</head>
<body id="login">
<div class="login-bg" id="app" v-cloak="">
  <div v-if="isIe" class="layer-msg-success explorer-ie-tip">
    <i class="myicon-fail-white"></i>
    <div class="display-align">当前浏览器不支持本系统，请使用如QQ浏览器，360浏览器，搜狗浏览器，谷歌浏览器，火狐浏览器等</div>
  </div>
  <h2>{:get_cfg_value('CFG_WEBTITLE')}</h2>
  <div class="login">
    <div class="login-tab" v-if="false">
      <a :class="{'active': +query.login_type === 1}" @click="query.login_type = 1">管理员登录</a>
      <a :class="{'active': +query.login_type === 2}" @click="query.login_type = 2">生产商登录</a>
    </div>
    <h3>登录</h3>
    <form class="layui-form">
      <div class="layui-form-item">
        <input type="text" v-model="query.username" placeholder="请输入您的用户名" class="layui-input"/>
      </div>
      <div class="layui-form-item">
        <input type="password" v-model="query.password" placeholder="请输入密码" class="layui-input"/>
      </div>
      <div class="layui-form-item item-verify">
        <input type="text" v-model="query.code" placeholder="请输入图形验证码" class="layui-input">
        <img id="captcha" src="{:U('Login/verify',array('id' => 'a_login_1'))}"
             onClick="this.src='{:U('Login/verify',array('id' => 'a_login_1'))}'"
             style="float:left; cursor:pointer;" alt="captcha"/>
      </div>
      <div class="layui-form-item">
        <button class="btn-default" type="button" style="background-color: #B0B0B0" v-if="isIe">登录</button>
        <button class="btn-default" type="button" @click="login" v-else>登录</button>
      </div>
      <div class="login-checkbox flex-between">
        <label class="xq-checkbox">
          <input type="checkbox" checked>
          <font style="font-size: 14px">下次自动登录</font>
        </label>
        <a style="font-size: 14px" href="{:U('Login/reset_pwd')}" v-if="false">忘记密码</a>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="__DATA__/static/jq_plugins/layer/layer.js?v={$V}"></script>
<script type="text/javascript" src="__DATA__/static/js/public.js?v={$V}"></script>
<script type="text/javascript">
  if (top.location != self.location) {
    top.location = self.location;
  }
</script>
<script>
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        query: {
          // login_type: 1, //登录状态：1-管理员登录，2-生产商登录
          username: '',
          password: '',
          code: ''
        },
        isIe: false
      }
    },
    computed: {
      userNamePlaceholder: function () {
        return +this.query.login_type === 1 ? '请输入员工账号' : '请输入生产商账号'
      }
    },
    mounted: function () {
      var self = this
      self.$nextTick(function () {
        var explorer = self.getExplorer()
        if (explorer == 'ie') {
          self.isIe = true
        }
        if (explorer == 'Edge') {
          self.isIe = true
        }
      })
    },
    methods: {
      // 获取浏览器
      getExplorer: function () {
        var explorer = window.navigator.userAgent,
          compare = function (s) { return (explorer.indexOf(s) >= 0); },
          ie11 = (function () { return ("ActiveXObject" in window) })();
        if (compare("MSIE") || ie11) { return 'ie'; }
        else if (compare("Firefox") && !ie11) { return 'Firefox'; }
        else if (compare("Chrome") && !ie11) {
          if (explorer.indexOf("Edge") > -1) {
            return 'Edge';
          } else {
            return 'Chrome';
          }
        }
        else if (compare("Opera") && !ie11) { return 'Opera'; }
        else if (compare("Safari") && !ie11) { return 'Safari'; }
      },
      // 登录
      login: function () {
        var self = this
        var param = [
          {key: 'username', verify_type: 'required', error_text: self.userNamePlaceholder},
          {key: 'password', verify_type: 'required', error_text: '请输入密码'},
          {key: 'code', verify_type: 'required', error_text: '请输入图形验证码'}
        ]
        if (!publicObj.verifyForm(param, self.query)) return false
        $.ajax({
          url: "{:U('Login/login')}",
          data: self.query,
          type: 'post',
          success: function (data) {
            data.code = data.code || ((data.status === 1) ? +'{$Think.CODE_LOGIN_SUCCESS}' : +'{$Think.CODE_ERROR}');
            data.msg = data.msg || data.info;
            data.data = data.data || data.url;
            if (data.code === +'{$Think.CODE_LOGIN_SUCCESS}') {
              layer.close('loading');
              publicObj.layerMsg(data.msg, 1)
              setTimeout(function () {
                location.href = data.data.url;
              },1000)
            } else {
              layer.close('loading');
              publicObj.layerMsg(data.msg)
              self.$nextTick(function () {
                $('#captcha').attr('src', "{:U('Login/verify',array('id' => 'a_login_1'))}");
              })
            }
          }
        })
      }
    }
  })
  //提交验证
  //enter键触发提交验证事件
  window.document.onkeydown = enter;

  function enter(evt) {
    evt = (evt) ? evt : window.event;
    if (evt.keyCode) {
      //控制键键码值 || //数字键盘上的键的键码值
      if (evt.keyCode == 13 || evt.keyCode == 108) {
        vm.login();
      }
    }
  }
</script>
</body>
</html>
