.count-down {
  position: relative;
}
.count-down button {
  min-width: 3.25rem;
  height: 1.75rem;
  background-color: #FB533F;
  border-radius: .25rem;
  border: none;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 .23rem;
}

.count-down button:disabled {
  background-color: #c8c8c8;
}
